body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  color: #939393;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}
@media (min-width: 500px) {
  h1 {
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
  }
}
@media (min-width: 900px) {
  h1 {
    font-weight: 200;
    font-size: 2.2rem;
    letter-spacing: 0.6rem;
  }
}

header {
  color: white;

  height: 250px;
  padding: 40px 20px 20px 20px;
  background-repeat: no-repeat;
  background-position: center left 58%;
  background-image: url(images/071715_Heroku_9883-.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header .logo {
  width: 86px;
}
header .logo-text {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
@media (min-width: 500px) {
  header .logo {
    width: 100px;
  }
  header .logo-text {
    font-size: 10px;
    letter-spacing: 2px;
  }
}
@media (min-width: 500px) and (min-height: 500px) {
  header {
    height: 300px;
    padding: 50px 20px;
  }
}
@media (min-width: 900px) {
  header {
    height: 500px;
    padding: 100px 20px 50px 20px;
  }
  header .logo {
    width: 200px;
    margin-bottom: 10px;
  }
  header .logo-text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 6.5px;
  }
}
@media (min-width: 1200px) and (min-height: 1000px) {
  header {
    height: 800px;
    padding: 200px 20px 100px 20px;
  }
  header .logo {
    width: 300px;
    margin-bottom: 20px;
  }
  header .logo-text {
    font-size: 18px;
    letter-spacing: 11px;
  }
}

.masthead-elements-row-1,
.masthead-elements-row-2 {
  height: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.masthead-elements-row-2 {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.masthead-elements-row-1 > div,
.masthead-elements-row-2 > div {
  /* border: 1px dashed red; */
  -webkit-box-flex: 1 1 0;
  -moz-box-flex: 1 1 0;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}

.element-left {

}
.element-middle {
  text-align: center;
}
.element-right {
  text-align: right;
}

.textured-section {
  background-color: rgb(161,109,59);
  background-image: url(images/wood-grain.jpg);
  background-position: left top;
}
.textured-section h1 {
  font-weight: 600;
  color: rgb(247,220,172);
}
@media (min-width: 500px) {
  .textured-section h1 {
    font-weight: 300;
  }
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a.btn {
  text-decoration: none;
}
.btn + .btn {
  margin-left: 10px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #fff;
}
.btn-trans {
  color: #333;
  background-color: rgba(255,255,255,0.4);
  border-color: #fff;
}
.btn-hot {
  color: #ff3300;
  background-color: #fff;
  border-color: #ff3300;
}

.products {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
.products > * {
  /* border: 1px dashed red; */
  width: 250px;
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 4px 4px 20px 4px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.product-image {
  width: 100%;
}
.product-name {
  font-weight: 300;
  height: 2em;
}
.product-price {
  font-weight: 300;
  height: 1.5em;
}
.product-button {
  font-weight: 300;
}
@media (min-width: 800px) {
  .products > * {
    width: 350px;
  }
}
@media (min-width: 1100px) {
  .products > * {
    width: 250px;
  }
}
@media (min-width: 1700px) {
  .products > * {
    width: 400px;
  }
  .products > li {
  }
}

.kits {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
.kits > * {
  /* border: 1px dashed red; */
  width: 300px;
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.kit-image {
  width: 100%;
}
.kit-name {
  font-weight: 300;
  height: 2em;
}
.kit-price {
  font-weight: 300;
  height: 1.5em;
}
.kit-button {
  font-weight: 300;
}
@media (min-width: 400px) {
  .kits > * {
    width: 180px;
  }
}
@media (min-width: 800px) {
  .kits > * {
    width: 300px;
  }
}
@media (min-width: 1100px) {
  .kits > * {
    width: 200px;
  }
}
@media (min-width: 1700px) {
  .kits > * {
    width: 300px;
  }
  .kits > li {
  }
}

footer {
  color: #fff;
  background-color: #000;
  margin-top: 30px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  align-content: stretch;
}
footer a {
  color: #fff;
  text-decoration: none;
}
.trailer-logo {
  text-align: center;
  padding: 30px 0 20px 0;
  line-height: 1rem;
}
.trailer-logo .logo {
  width: 86px;
}
.trailer-logo .logo-text {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.trailer-links {
  background-color: #222;
  padding: 30px 0 20px 0;

  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.internal-links {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1rem;
  line-height: 1.8rem;
}
.social-links {
  font-size: 0.7rem;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.social-links > * {
  width: 100px;
  text-align: center;
  line-height: 1rem;
  margin: 0 10px;
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.social-logo {
  width: 48px;
}
.social-verb,
.social-name {
  display: block;
}
.social-verb {
  color: #999;
}
.social-name {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
@media (min-width: 800px) {
  footer {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .trailer-logo {
    width: 25%;
  }
  .trailer-links {
    width: 75%;

    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .internal-links {
    text-align: left;
  }
}

#identity-wrapper {
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	max-width:80%;
	max-height:80%;

	    display: block;
	    z-index: 1002;
	    overflow: auto;
	    margin: 80px auto 0;
	    background-color: #F2F2F2;
	    box-shadow: 0px 2px 6px #090909;
	    -webkit-box-shadow: 0px 2px 6px #090909;
	    -moz-box-shadow: 0px 2px 6px #090909;
	    border-radius: 5px;
	
	
}
